<a href="https://colab.research.google.com/github/Requenamar3/datawrangling/blob/main/CityOfChicago_Crash_Data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Structural Analysis

In [ ]:
# 'https://data.cityofchicago.org/resource/85ca-t3if.json'

In [ ]:
# Import basic libraries
import numpy as np
import pandas as pd
# import visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt

This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
X2: Gender (1 = male; 2 = female).
X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
X4: Marital status (1 = married; 2 = single; 3 = others).
X5: Age (year).
X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [ ]:
import pandas as pd
import requests

# URL of the JSON data
url = 'https://data.cityofchicago.org/resource/85ca-t3if.json'

# Make a GET request to fetch the raw JSON content
data = requests.get(url).json()

# Read the JSON data into a DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame
print(df.head())

                                     crash_record_id               crash_date  \
0  37e762055125f3b99188088ec77c34b204114425d092f8...  2024-01-10T01:14:00.000
1  60b79aa4e242657591dead56affe90d88704ecd218184d...  2024-01-09T23:27:00.000
2  80fdd7fbbe705d75f1244a8814bb4f628e8f05b4bea523...  2024-01-09T23:10:00.000
3  db72269939d3b231ad706eb4df772b117f3499296547ef...  2024-01-09T22:01:00.000
4  2a840107b03712b6bd17a4bc66335eb7083d34a4381827...  2024-01-09T21:50:00.000

  posted_speed_limit traffic_control_device      device_condition  \
0                 30            NO CONTROLS           NO CONTROLS
1                 30         TRAFFIC SIGNAL  FUNCTIONING PROPERLY
2                 30         TRAFFIC SIGNAL  FUNCTIONING PROPERLY
3                 35      STOP SIGN/FLASHER  FUNCTIONING PROPERLY
4                 30         TRAFFIC SIGNAL  FUNCTIONING PROPERLY

       weather_condition      lighting_condition      first_crash_type  \
0                   RAIN  DARKNESS, LIGHTED ROAD  PARKED MOTOR VEHICLE
1                   SNOW  DARKNESS, LIGHTED ROAD            PEDESTRIAN
2                   RAIN  DARKNESS, LIGHTED ROAD               TURNING
3                   SNOW  DARKNESS, LIGHTED ROAD                 ANGLE
4  FREEZING RAIN/DRIZZLE  DARKNESS, LIGHTED ROAD               TURNING

                   trafficway_type           alignment  ...      latitude  \
0                          ONE-WAY  STRAIGHT AND LEVEL  ...  41.651207735
1                      NOT DIVIDED  STRAIGHT AND LEVEL  ...  41.924190911
2                         FOUR WAY  STRAIGHT AND LEVEL  ...  41.960684905
3                         FOUR WAY  STRAIGHT AND LEVEL  ...  41.792269068
4  DIVIDED - W/MEDIAN (NOT RAISED)  STRAIGHT AND LEVEL  ...  41.795918388

       longitude                                           location  \
0  -87.548540561  {'type': 'Point', 'coordinates': [-87.54854056...
1  -87.746447216  {'type': 'Point', 'coordinates': [-87.74644721...
2  -87.747384248  {'type': 'Point', 'coordinates': [-87.74738424...
3  -87.683850336  {'type': 'Point', 'coordinates': [-87.68385033...
4  -87.761780789  {'type': 'Point', 'coordinates': [-87.76178078...

  :@computed_region_rpca_8um6 intersection_related_i photos_taken_i  \
0                          26                    NaN            NaN
1                           2                    NaN            NaN
2                          21                      Y            NaN
3                          23                      Y            NaN
4                           7                    NaN            NaN

  private_property_i statements_taken_i crash_date_est_i dooring_i
0                NaN                NaN              NaN       NaN
1                NaN                NaN              NaN       NaN
2                NaN                NaN              NaN       NaN
3                NaN                NaN              NaN       NaN
4                NaN                NaN              NaN       NaN

[5 rows x 45 columns]

In [ ]:
# Getting Meta Data Information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 45 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_record_id                1000 non-null   object
 1   crash_date                     1000 non-null   object
 2   posted_speed_limit             1000 non-null   object
 3   traffic_control_device         1000 non-null   object
 4   device_condition               1000 non-null   object
 5   weather_condition              1000 non-null   object
 6   lighting_condition             1000 non-null   object
 7   first_crash_type               1000 non-null   object
 8   trafficway_type                1000 non-null   object
 9   alignment                      1000 non-null   object
 10  roadway_surface_cond           1000 non-null   object
 11  road_defect                    1000 non-null   object
 12  report_type                    986 non-null    object
 13  crash_type                     1000 non-null   object
 14  hit_and_run_i                  306 non-null    object
 15  damage                         1000 non-null   object
 16  date_police_notified           1000 non-null   object
 17  prim_contributory_cause        1000 non-null   object
 18  sec_contributory_cause         1000 non-null   object
 19  street_no                      1000 non-null   object
 20  street_direction               1000 non-null   object
 21  street_name                    1000 non-null   object
 22  beat_of_occurrence             1000 non-null   object
 23  num_units                      1000 non-null   object
 24  most_severe_injury             998 non-null    object
 25  injuries_total                 998 non-null    object
 26  injuries_fatal                 998 non-null    object
 27  injuries_incapacitating        998 non-null    object
 28  injuries_non_incapacitating    998 non-null    object
 29  injuries_reported_not_evident  998 non-null    object
 30  injuries_no_indication         998 non-null    object
 31  injuries_unknown               998 non-null    object
 32  crash_hour                     1000 non-null   object
 33  crash_day_of_week              1000 non-null   object
 34  crash_month                    1000 non-null   object
 35  latitude                       991 non-null    object
 36  longitude                      991 non-null    object
 37  location                       991 non-null    object
 38  :@computed_region_rpca_8um6    991 non-null    object
 39  intersection_related_i         230 non-null    object
 40  photos_taken_i                 21 non-null     object
 41  private_property_i             40 non-null     object
 42  statements_taken_i             35 non-null     object
 43  crash_date_est_i               59 non-null     object
 44  dooring_i                      2 non-null      object
dtypes: object(45)
memory usage: 351.7+ KB

In [ ]:
df.describe().T

,count,unique,top,freq
crash_record_id,1000,1000,37e762055125f3b99188088ec77c34b204114425d092f8...,1
crash_date,1000,765,2024-01-05T14:00:00.000,9
posted_speed_limit,1000,11,30,749
traffic_control_device,1000,12,NO CONTROLS,508
device_condition,1000,5,NO CONTROLS,508
weather_condition,1000,10,CLEAR,431
lighting_condition,1000,6,DAYLIGHT,482
first_crash_type,1000,16,PARKED MOTOR VEHICLE,219
trafficway_type,1000,18,NOT DIVIDED,388
alignment,1000,5,STRAIGHT AND LEVEL,981
roadway_surface_cond,1000,7,DRY,406
road_defect,1000,7,NO DEFECTS,708
report_type,986,2,ON SCENE,514
crash_type,1000,2,NO INJURY / DRIVE AWAY,694
hit_and_run_i,306,2,Y,293
damage,1000,3,"OVER $1,500",731
date_police_notified,1000,850,2024-01-09T10:00:00.000,4
prim_contributory_cause,1000,27,UNABLE TO DETERMINE,425
sec_contributory_cause,1000,25,NOT APPLICABLE,422
street_no,1000,764,2400,7
street_direction,1000,4,W,357
street_name,1000,344,PULASKI RD,29
beat_of_occurrence,1000,254,1824,12
num_units,1000,6,2,856
most_severe_injury,998,4,NO INDICATION OF INJURY,854
injuries_total,998,5,0,854
injuries_fatal,998,1,0,998
injuries_incapacitating,998,3,0,976
injuries_non_incapacitating,998,5,0,915
injuries_reported_not_evident,998,5,0,948
injuries_no_indication,998,9,2,471
injuries_unknown,998,1,0,998
crash_hour,1000,24,15,92
crash_day_of_week,1000,6,7,261
crash_month,1000,1,1,1000
latitude,991,970,41.900958919,5
longitude,991,970,-87.619928174,5
location,991,970,"{'type': 'Point', 'coordinates': [-87.61992817...",5
:@computed_region_rpca_8um6,991,61,58,45
intersection_related_i,230,2,Y,220
photos_taken_i,21,2,Y,18
private_property_i,40,2,Y,38
statements_taken_i,35,2,Y,24
crash_date_est_i,59,2,Y,52
dooring_i,2,2,Y,1

In [ ]:
# Checking for Null Values #will need to drop?
df.isnull().sum()

crash_record_id                    0
crash_date                         0
posted_speed_limit                 0
traffic_control_device             0
device_condition                   0
weather_condition                  0
lighting_condition                 0
first_crash_type                   0
trafficway_type                    0
alignment                          0
roadway_surface_cond               0
road_defect                        0
report_type                       14
crash_type                         0
hit_and_run_i                    694
damage                             0
date_police_notified               0
prim_contributory_cause            0
sec_contributory_cause             0
street_no                          0
street_direction                   0
street_name                        0
beat_of_occurrence                 0
num_units                          0
most_severe_injury                 2
injuries_total                     2
injuries_fatal                     2
injuries_incapacitating            2
injuries_non_incapacitating        2
injuries_reported_not_evident      2
injuries_no_indication             2
injuries_unknown                   2
crash_hour                         0
crash_day_of_week                  0
crash_month                        0
latitude                           9
longitude                          9
location                           9
:@computed_region_rpca_8um6        9
intersection_related_i           770
photos_taken_i                   979
private_property_i               960
statements_taken_i               965
crash_date_est_i                 941
dooring_i                        998
dtype: int64

In [ ]:
# Drop columns with any missing values
df_cleaned = df.dropna(axis=1)

In [ ]:
#checking fior null values
df_cleaned.isnull().sum()

crash_record_id            0
crash_date                 0
posted_speed_limit         0
traffic_control_device     0
device_condition           0
weather_condition          0
lighting_condition         0
first_crash_type           0
trafficway_type            0
alignment                  0
roadway_surface_cond       0
road_defect                0
crash_type                 0
damage                     0
date_police_notified       0
prim_contributory_cause    0
sec_contributory_cause     0
street_no                  0
street_direction           0
street_name                0
beat_of_occurrence         0
num_units                  0
crash_hour                 0
crash_day_of_week          0
crash_month                0
dtype: int64

# Light Quality Analysis/Investigation

In [ ]:
# Print all column names to verify the correct column name
print(df.columns)

Index(['crash_record_id', 'crash_date', 'posted_speed_limit',
       'traffic_control_device', 'device_condition', 'weather_condition',
       'lighting_condition', 'first_crash_type', 'trafficway_type',
       'alignment', 'roadway_surface_cond', 'road_defect', 'report_type',
       'crash_type', 'hit_and_run_i', 'damage', 'date_police_notified',
       'prim_contributory_cause', 'sec_contributory_cause', 'street_no',
       'street_direction', 'street_name', 'beat_of_occurrence', 'num_units',
       'most_severe_injury', 'injuries_total', 'injuries_fatal',
       'injuries_incapacitating', 'injuries_non_incapacitating',
       'injuries_reported_not_evident', 'injuries_no_indication',
       'injuries_unknown', 'crash_hour', 'crash_day_of_week', 'crash_month',
       'latitude', 'longitude', 'location', ':@computed_region_rpca_8um6',
       'intersection_related_i', 'photos_taken_i', 'private_property_i',
       'statements_taken_i', 'crash_date_est_i', 'dooring_i'],
      dtype='object')

In [ ]:
print('crash_day_of_week'+ str(sorted(df['crash_day_of_week'].unique())))

crash_day_of_week['1', '2', '3', '4', '6', '7']

In [ ]:
print('EDUCATION ' + str(sorted(df['EDUCATION'].unique())))  # treat 0, 5, and 6

In [ ]:
print('MARRIAGE ' + str(sorted(df['MARRIAGE'].unique())))  # treat 0

In [ ]:
print('PAY_0 ' + str(sorted(df['PAY_0'].unique()))) # treat -2 and 0

In [ ]:
print('default.payment.next.month ' + str(sorted(df['default payment next month'].unique())))

In [ ]:
fill = (df.EDUCATION == 0) | (df.EDUCATION == 5) | (df.EDUCATION == 6)
df.loc[fill, 'EDUCATION'] = 4

In [ ]:
print('EDUCATION ' + str(sorted(df['EDUCATION'].unique())))  # treat 0, 5, and 6

In [ ]:
fill = (df.MARRIAGE == 0)
df.loc[fill, 'MARRIAGE'] = 2

In [ ]:
df = df.rename(columns={'default payment next month': 'DEFAULT', 'PAY_0': 'PAY_1'})
df.head()

# EDA:  Univaraite Analysis / Content Investigation

In [ ]:
sns.countplot(x="DEFAULT", data=df)

In [ ]:
df['DEFAULT'].value_counts()

In [ ]:
6636 / (23364 + 6636)

In [ ]:
sns.countplot(x="SEX", data=df)

In [ ]:
df['SEX'].value_counts()

In [ ]:
sns.countplot(x="EDUCATION", data=df)

In [ ]:
df['EDUCATION'].value_counts()

In [ ]:
sns.countplot(x="MARRIAGE", data=df)

In [ ]:
df['MARRIAGE'].value_counts()

# Bivariate Analysis

In [ ]:
sns.set(rc={'figure.figsize':(15,10)})
edu = sns.countplot(x='SEX', hue='DEFAULT', data=df)
edu.set_xticklabels(['Male','Female'])
plt.show()

In [ ]:
pd.crosstab(df.SEX,df.DEFAULT,normalize='index',margins=True)

In [ ]:
sns.set(rc={'figure.figsize':(15,10)})
edu = sns.countplot(x='EDUCATION', hue='DEFAULT', data=df)
edu.set_xticklabels(['Graduate School','University','High School','Other'])
plt.show()

In [ ]:
pd.crosstab(df.EDUCATION,df.DEFAULT,normalize='index')

In [ ]:
sns.set(rc={'figure.figsize':(12,10)})
marriage = sns.countplot(x="MARRIAGE", hue='DEFAULT', data=df)
marriage.set_xticklabels(['Married','Single','Other'])
plt.show()

In [ ]:
pd.crosstab(df.MARRIAGE,df.DEFAULT,normalize='index',margins=True)

In [ ]:
pd.crosstab(df.PAY_1,df.DEFAULT,margins=True)

In [ ]:
pd.crosstab(df.AGE,df.DEFAULT)

In [ ]:
pd.crosstab(df.AGE,df.DEFAULT,normalize='index',margins=True)

# Correlation

In [ ]:
sns.set(rc={'figure.figsize':(30,10)})
sns.set_context("talk", font_scale=0.7)

In [ ]:
sns.heatmap(df.iloc[:,1:].corr(method='spearman'), cmap='rainbow_r', annot=True)

In [ ]:
df.drop("DEFAULT", axis=1).apply(lambda x: x.corr(df.DEFAULT,method='spearman'))