<a href="https://colab.research.google.com/github/Requenamar3/datawrangling/blob/main/Module_3_HW_RamenRatings_Martha_Requena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Read the data from the CSV file into a DataFrame and display the data to get a count of the number of rows**

In [ ]:
import pandas as pd

In [ ]:
ramen = pd.read_csv('https://raw.githubusercontent.com/fenago/dw/main/ramen-ratings.csv')

In [ ]:
ramen.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [ ]:
ramen.info(verbose=True, memory_usage='deep',show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Stars    2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 715.8 KB

In [ ]:
# Get the number of rows
row_count = len(ramen)
print(f'The number of rows in the RamenRatings is: {row_count}')

The number of rows in the RamenRatings is: 2577

**2. Rename the Stars column to Rating**

In [ ]:
# changing name of column
ramen = ramen.rename(columns={'Stars': 'Rating'})
print(ramen.head())

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

  Country  Rating
0   Japan    3.75
1  Taiwan    1.00
2     USA    2.25
3  Taiwan    2.75
4   India    3.75

**3. Convert the Style column to the category type.**

In [ ]:
# Convert the 'Style' column to a categorical data type
ramen['Style'] = ramen['Style'].astype('category')
print(ramen.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   category
 3   Country  2577 non-null   object
 4   Rating   2577 non-null   float64
dtypes: category(1), float64(1), object(3)
memory usage: 83.5+ KB
None

**4. Drop the country column.**

In [ ]:
# Drop the 'Country' column
ramen = ramen.drop(columns=['Country'])
print(ramen.head())

            Brand                                            Variety Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

   Rating
0    3.75
1    1.00
2    2.25
3    2.75
4    3.75

**6. Rename the Brand column to Company and the Variety column to Product.**

In [ ]:
#renaming columns
ramen = ramen.rename(columns={'Brand': 'Company', 'Variety': 'Product'})
print(ramen.head())

          Company                                            Product Style  \
0       New Touch                          T's Restaurant Tantanmen    Cup
1        Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2          Nissin                      Cup Noodles Chicken Vegetable   Cup
3         Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4  Ching's Secret                                    Singapore Curry  Pack

   Rating
0    3.75
1    1.00
2    2.25
3    2.75
4    3.75

**7. Use the duplicated() method to display all rows with duplicate Company/Product/style combinations.**

In [ ]:
#Identify rows with duplicate combinations of 'Company' and 'Product'
duplicates = ramen[ramen.duplicated(subset=['Company', 'Product','Style'], keep=False)]

#Display the rows with duplicate combinations
print(duplicates)

             Company                                Product Style  Rating
2             Nissin          Cup Noodles Chicken Vegetable   Cup    2.25
24    Ching's Secret             Hot Garlic Instant Noodles  Pack    4.25
46          Nongshim                      Shin Ramyun Black  Pack    5.00
69           MyKuali        Penang Red Tom Yum Goong Noodle  Pack    5.00
75          Nongshim                            Shin Ramyun  Pack    3.00
178           Nissin    Cup Noodles Tom Yam Seafood Flavour   Cup    5.00
192            Maggi         2 Minute Noodles Curry Flavour  Pack    4.00
283           Nissin                    Cup Noodles Seafood   Cup    4.00
335           Nissin  Cup Noodles Black Pepper Crab Flavour   Cup    4.00
459           Nissin        Cup Noodles Minced Pork Flavour   Cup    3.50
463           Nissin          Cup Noodles Moo Manao Flavour   Cup    4.00
467           Nissin        Cup Noodles Chilli Crab Flavour   Cup    3.75
575           Nissin                  Raoh Rich Miso Flavor  Bowl    5.00
707           Nissin        Cup Noodles Minced Pork Flavour   Cup    3.75
819           Nissin          Cup Noodles Moo Manao Flavour   Cup    4.00
890     Wugudaochang  Sea Tangle & Sparerins Flavor Noodles  Bowl    3.75
897     Wugudaochang  Sea Tangle & Sparerins Flavor Noodles  Bowl    3.75
1021  Ching's Secret             Hot Garlic Instant Noodles  Pack    3.75
1077         MyKuali        Penang Red Tom Yum Goong Noodle  Pack    5.00
1116          Nissin  Cup Noodles Black Pepper Crab Flavour   Cup    4.00
1123          Nissin        Cup Noodles Chilli Crab Flavour   Cup    4.00
1126          Nissin    Cup Noodles Tom Yam Seafood Flavour   Cup    4.00
1144           Maggi         2 Minute Noodles Curry Flavour  Pack    3.75
1508          Nissin                  Raoh Rich Miso Flavor  Bowl    5.00
1814           Maggi         2 Minute Noodles Tricky Tomato  Pack    3.25
1848         Indomie                   Mi Goreng Jumbo Beef  Pack    5.00
1999        Nongshim                      Shin Ramyun Black  Pack    4.75
2003           Maggi         2 Minute Noodles Tricky Tomato  Pack    3.75
2150            Koka                 Mi Hai Cua Crab Flavor  Pack    5.00
2196  Saigon Ve Wong    Kung Fu Artificial Beef Rice Noodle  Pack    4.25
2204          Nissin          Cup Noodles Chicken Vegetable   Cup    2.75
2289  Saigon Ve Wong    Kung Fu Artificial Beef Rice Noodle  Pack    3.25
2293          Nissin                    Cup Noodles Seafood   Cup    4.50
2345         Indomie                   Mi Goreng Jumbo Beef  Pack    5.00
2494          Nissin               Demae Ramen Spicy Flavor  Pack    2.00
2545            Koka                 Mi Hai Cua Crab Flavor  Pack    3.50
2552          Nissin               Demae Ramen Spicy Flavor  Pack    3.00
2558        Nongshim                            Shin Ramyun  Pack    4.00

In [ ]:
#Group by 'Company' and 'Product', and calculate the count
counts = ramen.groupby(['Company', 'Product','Style']).size().reset_index(name='Count')

#Filter for rows with counts greater than 1 (duplicates)
duplicates = counts[counts['Count'] > 1]

#Display the rows with duplicate combinations
print(duplicates)

                Company                                Product Style  Count
646931   Ching's Secret             Hot Garlic Instant Noodles  Pack      2
1864504         Indomie                   Mi Goreng Jumbo Beef  Pack      2
2269517            Koka                 Mi Hai Cua Crab Flavor  Pack      2
2614995           Maggi         2 Minute Noodles Curry Flavour  Pack      2
2615037           Maggi         2 Minute Noodles Tricky Tomato  Pack      2
3064444         MyKuali        Penang Red Tom Yum Goong Noodle  Pack      2
3242187          Nissin  Cup Noodles Black Pepper Crab Flavour   Cup      2
3242222          Nissin          Cup Noodles Chicken Vegetable   Cup      2
3242229          Nissin        Cup Noodles Chilli Crab Flavour   Cup      2
3242348          Nissin        Cup Noodles Minced Pork Flavour   Cup      2
3242369          Nissin          Cup Noodles Moo Manao Flavour   Cup      2
3242516          Nissin                    Cup Noodles Seafood   Cup      2
3242670          Nissin    Cup Noodles Tom Yam Seafood Flavour   Cup      2
3243385          Nissin               Demae Ramen Spicy Flavor  Pack      2
3251207          Nissin                  Raoh Rich Miso Flavor  Bowl      2
3302955        Nongshim                            Shin Ramyun  Pack      2
3302962        Nongshim                      Shin Ramyun Black  Pack      2
4056890  Saigon Ve Wong    Kung Fu Artificial Beef Rice Noodle  Pack      2
5799235    Wugudaochang  Sea Tangle & Sparerins Flavor Noodles  Bowl      2

**8. Drop all rows with duplicate Company/Product/style combinations except for the first row in each set.**

In [ ]:
#dropping duplicates and keeping only the first occurence
ramen.drop_duplicates(keep='first',inplace=True)

**display the data to get a count of the number of rows, and compare that with the original number of rows to see how many were dropped**

In [ ]:
ramen.info(verbose=True, memory_usage='deep',show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2571 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2571 non-null   object
 1   Product  2571 non-null   object
 2   Style    2569 non-null   category
 3   Rating   2571 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 425.2 KB

**9. Drop any rows that have missing values.**

In [ ]:
#display rows with null values
ramen[ramen.isnull().any(axis=1)]

     Company            Product Style  Rating
2149  Kamfen     E Menm Chicken   NaN    3.75
2439    Unif  100 Furong Shrimp   NaN    3.00

In [ ]:
# # #drop all rows with null values
ramen.dropna(inplace=True)
print(ramen)

             Company                                            Product Style  \
0          New Touch                          T's Restaurant Tantanmen    Cup
1           Just Way  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack
2             Nissin                      Cup Noodles Chicken Vegetable   Cup
3            Wei Lih                      GGE Ramen Snack Tomato Flavor  Pack
4     Ching's Secret                                    Singapore Curry  Pack
...              ...                                                ...   ...
2572           Vifon  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl
2573         Wai Wai                     Oriental Style Instant Noodles  Pack
2574         Wai Wai                                     Tom Yum Shrimp  Pack
2575         Wai Wai                               Tom Yum Chili Flavor  Pack
2576        Westbrae                                         Miso Ramen  Pack

      Rating
0       3.75
1       1.00
2       2.25
3       2.75
4       3.75
...      ...
2572    3.50
2573    1.00
2574    2.00
2575    2.00
2576    0.50

[2569 rows x 4 columns]

**10. Check again to make sure that all of your changes were applied.**

In [ ]:
ramen.info(verbose=True, memory_usage='deep',show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2569 entries, 0 to 2576
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  2569 non-null   object
 1   Product  2569 non-null   object
 2   Style    2569 non-null   category
 3   Rating   2569 non-null   float64
dtypes: category(1), float64(1), object(2)
memory usage: 424.9 KB