<a href="https://colab.research.google.com/github/Requenamar3/datawrangling/blob/main/UFOs_in_USA_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Project overview**
**Objectives**
* Uncover patterns, trends, and anomalies in UFO sigthting accross differnet states in USA over the years
* Explore how these sightings correlate with external factors such as population density and the presence of military bases

#**Dataset Description**

*   This project utilizes a dataset from kaggle https://www.kaggle.com/code/abigaillarion/ufo-reports-in-united-states/input , which compiles reported UFO sightings in the world The dataset includes information on the date and time of sightings, locations (city, state), the shape of the observed phenomena, duration of the sighting, and a brief description of the event.

#**Structure Analisis**

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [ ]:
UFOs = pd.read_csv("https://raw.githubusercontent.com/Requenamar3/datawrangling/main/UFO's%20in%20USA.csv")
UFOs.head()

<ipython-input-186-2f26b599cae6>:1: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  UFOs = pd.read_csv("https://raw.githubusercontent.com/Requenamar3/datawrangling/main/UFO's%20in%20USA.csv")

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/1/2006 12:00,NaN,NaN,NaN,0,NaN,NaN,((EDITORIAL COMMENT ABOUT THE UFO PHENOMEN)) ...,10/30/2006,0,0.0
1,10/14/2004 13:00,NaN,NaN,NaN,0,NaN,NaN,With all the guns in this country...why hasn&#...,10/27/2004,0,0.0
2,10/14/2011 22:30,NaN,nv,NaN,0,light,22,3 Green lights,10/19/2011,0,0.0
3,10/17/2008 20:30,NaN,tx,NaN,0,oval,5 minutes,An oval shaped object in a photograph. ((NUF...,10/31/2008,0,0.0
4,10/20/2013 18:30,NaN,ct,NaN,0,egg,2 hours,Bright light visible in W sky for long periods...,11/11/2013,0,0.0

In [ ]:
UFOs.info(verbose=True, memory_usage="deep",show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88875 entries, 0 to 88874
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              88875 non-null  object
 1   city                  88679 non-null  object
 2   state                 81356 non-null  object
 3   country               76314 non-null  object
 4   shape                 85953 non-null  object
 5   duration (seconds)    88789 non-null  object
 6   duration (hours/min)  85765 non-null  object
 7   comments              88840 non-null  object
 8   date posted           88875 non-null  object
 9   latitude              88875 non-null  object
 10  longitude             88875 non-null  float64
dtypes: float64(1), object(10)
memory usage: 59.5 MB

In [ ]:
#unique value counts
UFOs.nunique()

datetime                76305
city                    22018
state                      68
country                     5
shape                      30
duration (seconds)        749
duration (hours/min)     9713
comments                88478
date posted               317
latitude                25424
longitude               20549
dtype: int64

In [ ]:
UFOs.city.value_counts(normalize=True).head(5)

seattle        0.006428
phoenix        0.005503
portland       0.004499
las vegas      0.004454
los angeles    0.004229
Name: city, dtype: float64

In [ ]:
UFOs.state.value_counts(5)

ca    0.128448
wa    0.057193
fl    0.056517
tx    0.049781
ny    0.043156
        ...
nt    0.000283
pe    0.000283
yt    0.000172
yk    0.000086
vi    0.000012
Name: state, Length: 68, dtype: float64

In [ ]:
UFOs[['state','city']].value_counts()

state  city
wa     seattle                             568
az     phoenix                             484
nv     las vegas                           389
ca     los angeles                         372
       san diego                           358
                                          ...
me     south china (three mile pond)         1
       south hiram                           1
       springvale                            1
       st. george                            1
yt     yukon territory (rural) (canada)      1
Length: 22322, dtype: int64

In [ ]:
UFOs.apply(pd.unique)

datetime                [10/1/2006 12:00, 10/14/2004 13:00, 10/14/2011...
city                    [nan, san marcos, lackland afb, chester (uk/en...
state                   [nan, nv, tx, ct, sd, ny, mi, oh, mo, mt, co, ...
country                                         [nan, us, gb, ca, au, de]
shape                   [0, cylinder, light, circle, sphere, disk, fir...
duration (seconds)      [nan, light, oval, egg, sphere, fireball, disk...
duration (hours/min)    [nan, 22, 5 minutes, 2 hours, 30sec, night, 15...
comments                [((EDITORIAL COMMENT ABOUT THE UFO PHENOMEN)) ...
date posted             [10/30/2006, 10/27/2004, 10/19/2011, 10/31/200...
latitude                [0, 29.8830556, 29.38421, 53.2, 28.9783333, 21...
longitude               [0.0, -97.9411111, -98.581082, -2.916667, -96....
dtype: object

In [ ]:
UFOs.country.unique()

array([nan, 'us', 'gb', 'ca', 'au', 'de'], dtype=object)

In [ ]:
#showed each country's share of the total counts of UFO sightings.
UFOs.country.value_counts(normalize=True).head(7)

us    0.921102
ca    0.042797
gb    0.026863
au    0.007771
de    0.001468
Name: country, dtype: float64

In [ ]:
#same as above
UFOs.country.value_counts(5)

us    0.921102
ca    0.042797
gb    0.026863
au    0.007771
de    0.001468
Name: country, dtype: float64

In [ ]:
UFOs.head(1)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/1/2006 12:00,NaN,NaN,NaN,0,NaN,NaN,((EDITORIAL COMMENT ABOUT THE UFO PHENOMEN)) ...,10/30/2006,0,0.0

#**Quality Analisis**

I used the Profilerteport function to get a quick overview of what the data looks like, its structure, and any obvious issues that need addressing, such as missing values or outliers. The result help me with the features selections.

[Link to the data profiling notebook](https://colab.research.google.com/drive/14qBFOG3pb-u3ljsCVZ3JH_B00FKI6VSY#scrollTo=d-a9MD9l3mRa)

In [ ]:
#Drop unused columns
UFOs=UFOs.drop(columns=['comments','latitude','date posted','longitude'])

In [ ]:
UFOs.country.value_counts(dropna=False)

us     70293
NaN    12561
ca      3266
gb      2050
au       593
de       112
Name: country, dtype: int64

In [ ]:
#Store the rows to be dropped in a new variable
dropped_countries_df = UFOs[UFOs['country'].str.lower().isin(['ca', 'gb', 'au', 'de'])]

#Drop irrelevant rows. drop all rows for all other countries than US
UFOs = UFOs[~UFOs['country'].str.lower().isin(['ca', 'gb', 'au', 'de'])]

In [ ]:
UFOs.country.value_counts(dropna=False)

us     70293
NaN    12561
Name: country, dtype: int64

####NULL

In [ ]:
# Filter rows where 'state' is not NaN and 'country' is NaN
rows_with_state_and_no_country = UFOs[UFOs['state'].notna() & UFOs['country'].isna()]

# Display the filtered rows
print(rows_with_state_and_no_country)

               datetime                   city state country      shape  \
2      10/14/2011 22:30                    NaN    nv     NaN          0
3      10/17/2008 20:30                    NaN    tx     NaN          0
4      10/20/2013 18:30                    NaN    ct     NaN          0
5      10/24/2007 21:05                    NaN    sd     NaN          0
6       10/27/2005 0:00                    NaN    ny     NaN          0
...                 ...                    ...   ...     ...        ...
88770    9/9/2009 14:15   broomfield?lafayette    co     NaN  rectangle
88776    9/9/2009 20:17                  lyman    me     NaN      light
88855    9/9/2013 12:00           star tannery    va     NaN    unknown
88859    9/9/2013 20:15                clifton    nj     NaN      other
88864    9/9/2013 21:00  hamstead (hollyridge)    nc     NaN      light

      duration (seconds) duration (hours/min)
2                  light                   22
3                   oval            5 minutes
4                    egg              2 hours
5                 sphere                30sec
6                    NaN                night
...                  ...                  ...
88770              120.0                2 min
88776              600.0              10 mins
88855                0.0                  unk
88859             3600.0                ~1hr+
88864              120.0            2 minutes

[7790 rows x 7 columns]

In [ ]:
#Add country to US states
states_to_update = ['al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'de', 'fl', 'ga',
'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md',
'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj',
'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc',
'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy','pr','dc']

# Replace 'country' column with 'us' where 'state' is in the list and 'country' is NaN
UFOs.loc[UFOs['state'].str.lower().isin(states_to_update) & UFOs['country'].isna(), 'country'] = 'us'

In [ ]:
# Filter rows where 'city' is not NaN and 'country' is NaN
rows_with_city_and_no_country = UFOs[UFOs['city'].notna() & UFOs['state'].notna()]

# Display the filtered rows
print(rows_with_city_and_no_country)

               datetime            city state country     shape  \
196    10/10/1949 20:30      san marcos    tx      us  cylinder
197    10/10/1949 21:00    lackland afb    tx      us     light
199    10/10/1956 21:00            edna    tx      us    circle
200    10/10/1960 20:00         kaneohe    hi      us     light
201    10/10/1961 19:00         bristol    tn      us    sphere
...                 ...             ...   ...     ...       ...
88870    9/9/2013 22:00            napa    ca      us     other
88871    9/9/2013 22:20          vienna    va      us    circle
88872    9/9/2013 23:00          edmond    ok      us     cigar
88873    9/9/2013 23:00           starr    sc      us   diamond
88874    9/9/2013 23:30  ft. lauderdale    fl      us      oval

      duration (seconds) duration (hours/min)
196                 2700           45 minutes
197                 7200              1-2 hrs
199                   20             1/2 hour
200                  900           15 minutes
201                  300            5 minutes
...                  ...                  ...
88870             1200.0                 hour
88871                5.0            5 seconds
88872             1020.0           17 minutes
88873                0.0             2 nights
88874                0.0       still occuring

[77997 rows x 7 columns]

In [ ]:
UFOs.country.value_counts(dropna=False)

us     77352
NaN     5502
Name: country, dtype: int64

In [ ]:
# Filter rows where 'city' is not NaN and 'country' is NaN
rows_with_state_and_no_country = UFOs[UFOs['country'].isna() & UFOs['city'].notna()]

# Display the filtered rows
print(rows_with_state_and_no_country)

               datetime                              city state country  \
214    10/10/1973 23:00                       bermuda nas   NaN     NaN
226    10/10/1979 22:00              saddle lake (canada)    ab     NaN
232     10/10/1982 7:00            gisborne (new zealand)   NaN     NaN
238    10/10/1987 20:00           manilla (rr#1) (canada)    on     NaN
246    10/10/1990 20:00                    pense (canada)    sa     NaN
...                 ...                               ...   ...     ...
88721    9/9/2004 21:00                       dubai (uae)   NaN     NaN
88725    9/9/2004 21:45  krimpen a/d ijssel (netherlands)   NaN     NaN
88735    9/9/2005 21:00         sault ste. marie (canada)    on     NaN
88819    9/9/2011 22:45                           denmark   NaN     NaN
88862    9/9/2013 21:00              aleksandrow (poland)   NaN     NaN

          shape duration (seconds) duration (hours/min)
214       light                 20              20 sec.
226    triangle                270     4.5 or more min.
232        disk                120                 2min
238        disk                600              10/mins
246     unknown                180              1/2 hr.
...         ...                ...                  ...
88721      disk               15.0              15 secs
88725     light                5.0                5 sec
88735     other               10.0      5 to 10 seconds
88819     light              300.0            5 minutes
88862     light               15.0           15 seconds

[5392 rows x 7 columns]

In [ ]:
# drop sll null country
UFOs = UFOs.dropna(subset=['country'])

In [ ]:
UFOs.country.value_counts(dropna=False)

us    77352
Name: country, dtype: int64

In [ ]:
UFOs.head(10)

,datetime,city,state,country,shape,duration (seconds),duration (hours/min)
2,10/14/2011 22:30,NaN,nv,us,0,light,22
3,10/17/2008 20:30,NaN,tx,us,0,oval,5 minutes
4,10/20/2013 18:30,NaN,ct,us,0,egg,2 hours
5,10/24/2007 21:05,NaN,sd,us,0,sphere,30sec
6,10/27/2005 0:00,NaN,ny,us,0,NaN,night
7,10/27/2008 22:00,NaN,mi,us,0,light,NaN
9,10/29/2005 21:00,NaN,oh,us,0,NaN,15 seconds
13,11/11/2012 0:00,NaN,mo,us,0,NaN,NaN
14,11/1/1990 23:00,NaN,mt,us,0,disk,3 seconds
15,11/12/1996 1:00,NaN,nv,us,0,triangle,40minutes

## working with the duration

In [ ]:
# Now, count the number of rows where 'duration (seconds)' is NaN (null)
count_duration_null = UFOs['duration (seconds)'].isnull().sum()

# Output the count
print(count_duration_null)

8

In [ ]:
#droppping null row
UFOs.dropna(subset=['duration (seconds)'], inplace=True)

In [ ]:
#Drop unused columns
UFOs=UFOs.drop(columns=['duration (hours/min)'])

In [ ]:
#Convert the 'datetime' column to pandas datetime type
UFOs['datetime'] = pd.to_datetime(UFOs['datetime'], errors='coerce') # 'coerce' will set invalid parsing to NaT

In [ ]:
#Extract the date part and assign it to a new column called 'date'
UFOs['date'] = UFOs['datetime'].dt.date

#Extract the time part and assign it to a new column called 'time'
UFOs['time'] = UFOs['datetime'].dt.time

# handle null values
UFOs['date'].fillna(value=pd.NaT, inplace=True)
UFOs['time'].fillna(value=pd.NaT, inplace=True)

# View the DataFrame to confirm the changes
print(UFOs[['datetime', 'date', 'time']])

                 datetime        date      time
2     2011-10-14 22:30:00  2011-10-14  22:30:00
3     2008-10-17 20:30:00  2008-10-17  20:30:00
4     2013-10-20 18:30:00  2013-10-20  18:30:00
5     2007-10-24 21:05:00  2007-10-24  21:05:00
7     2008-10-27 22:00:00  2008-10-27  22:00:00
...                   ...         ...       ...
88870 2013-09-09 22:00:00  2013-09-09  22:00:00
88871 2013-09-09 22:20:00  2013-09-09  22:20:00
88872 2013-09-09 23:00:00  2013-09-09  23:00:00
88873 2013-09-09 23:00:00  2013-09-09  23:00:00
88874 2013-09-09 23:30:00  2013-09-09  23:30:00

[77344 rows x 3 columns]

In [ ]:
#dropping unused columns
UFOs.dropna(subset=['datetime'], inplace=True)

In [ ]:
UFOs.head(10)

,datetime,city,state,country,shape,duration (seconds),date,time
2,2011-10-14 22:30:00,NaN,nv,us,0,light,2011-10-14,22:30:00
3,2008-10-17 20:30:00,NaN,tx,us,0,oval,2008-10-17,20:30:00
4,2013-10-20 18:30:00,NaN,ct,us,0,egg,2013-10-20,18:30:00
5,2007-10-24 21:05:00,NaN,sd,us,0,sphere,2007-10-24,21:05:00
7,2008-10-27 22:00:00,NaN,mi,us,0,light,2008-10-27,22:00:00
14,1990-11-01 23:00:00,NaN,mt,us,0,disk,1990-11-01,23:00:00
15,1996-11-12 01:00:00,NaN,nv,us,0,triangle,1996-11-12,01:00:00
20,1990-01-01 23:00:00,NaN,nv,us,0,unknown,1990-01-01,23:00:00
22,2001-01-01 07:30:00,NaN,co,us,0,circle,2001-01-01,07:30:00
23,2008-11-20 22:00:00,NaN,tx,us,0,light,2008-11-20,22:00:00

In [ ]:
# Count the number of nulls in the 'city' column
city_null_count = UFOs['city'].isnull().sum()
city_null_count

78

In [ ]:
# Count the number of nulls in the 'shape' column
city_null_count = UFOs['shape'].isnull().sum()
city_null_count

2369

In [ ]:
UFOs['shape'].value_counts(dropna=False)

light        15532
triangle      7514
circle        7150
fireball      5787
unknown       5488
other         5287
disk          5025
sphere        4937
oval          3538
NaN           2369
formation     2294
cigar         1904
changing      1859
flash         1276
rectangle     1228
cylinder      1191
diamond       1103
chevron        909
egg            696
teardrop       691
cone           300
cross          228
0               78
delta            7
round            2
crescent         2
pyramid          1
flare            1
hexagon          1
changed          1
Name: shape, dtype: int64

In [ ]:
UFOs.info()

##encoding